.profile__header {
  background: url(../../../images/bg-pattern-card.svg);

  height: 140px;

  border-radius: 10px 10px 0 0;
}

.profile__avatar {
  width: 100px;
  height: 100px;

  border: 5px solid var(--white);
  border-radius: 100%;

  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-48px, -48px);
}
