:root {
  --white:#fdfdfd;
  
  --dark-cyan:#19A2AE;
  --dark-blue-desatured:#4D557A;
  --dark-greyish-blue:#6A6F81;

  --dark-grey:#969696;
  
  --light-grey: #E7E7E7;
}

* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

html, body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  color: var(--dark-blue-desatured);
  background-color: var(--dark-cyan);
  line-height: 1;
}

ul, li {
  list-style: none;

}

a {
  text-decoration: none;

}